<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error 404</title>
  <link rel="stylesheet" href="./error.component.css">
</head>
<body>
  <div class="soso">
    <table>
    <tr>
      <h1 class="tt">ERROR 404: USUARIO NO ENCONTRADO</h1>
    </tr>
      <tr>
        <button class="nar" (click)="navegar()">Regresar</button>
      </tr>
  </table>
</div>
  <br>
</body>
</html>