.row{
    background-image: url(https://i.pinimg.com/564x/df/d0/9d/dfd09de2650cc1ad9c92ac1798ea3102.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.col-sm-6{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: #403330;
}

.col-sm-12-mt-4{
    font-size: small;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}

.col-sm-12{
    text-align: center;
}

.cant{
    text-align: center;
}

.imagen{
    height: 260px;
    width: 290px;
}

.laminas{
    display: flex;
}

body {
    color: #B6737C;
    background-color: #F9F6F0;
    font-family: "Open Sans", sans-serif;
    padding-top: 20px;
  }
  
  .carro{
    width: 30px;
    height: 30px;
  }
  
  .btn-primary {
    background-color: #6344d165 !important;
    border-color: #002652 !important;
    margin-top: 10px;
  
  }
  
  .contenedor {
    
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  
  .contenedor figure {
    position: relative;
    width: 250px;
    height: 200px;
    box-shadow: 0px 15px 25px;
    overflow: hidden;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .contenedor figure img {
    width: 250px;
    transition: all 500ms ease-out;
  }
  
  .contenedor figure .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(140, 168, 37, 0.22);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
  }
  
  .contenedor figure:hover>.capa {
    opacity: 1;
    visibility: visible;
  
  }
  
  .contenedor figure:hover>.capa h5 {
    margin-top: 70px;
    margin-bottom: 10px;
  
  }
  
  .contenedor figure .capa h5 {
    color: #C8651B;
    margin-bottom: 120px;
    margin-top: 20px;
    transition: all 500ms ease-out;
  }
  
  .contenedor figure .capa {
    color: #B6737C;
    font-size: 15px;
    width: 100%;
    line-height: 1, 5;
    margin: auto;
  }
  
  .contenedor figure:hover>img {
    transform: scale(1.3);
  
  }