<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
  <link rel="stylesheet" href="./login.component.css">
</head>
<body>
  <form action="" class="form-box">
    
    <h1 class="form-title">SingInt</h1>

    
      <input type="email" id="user" name="user" placeholder="Username" [(ngModel)]="nombre" />
      <label class="form-label" for="user">Username</label>
    

    
      <input type="text" id="email" name="email" placeholder="Email" [(ngModel)]="correo" />
      <label class="form-label" for="email">Email</label>
    


      <button class="boton" type="button" (click)="navegar()">login</button>
    


  </form>
</body>
</html>




<!-- <h3>INGRESE EL NOMBRE</h3>
<input type="text" [(ngModel)]="nombre">


<h3>INGRESE CORREO</h3>
<input type="text" [(ngModel)]="correo">
<br><br><br>
<button (click)="NAV()">INGRESAR</button> -->